<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644330002636-h567qpb4hun8ei2eq88k0u1odn0vlj40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644330002636-h567qpb4hun8ei2eq88k0u1odn0vlj40</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>644330002636-dqd7ee03rjsa9o2kotpjg2s0s71os0p4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfxIHxZnkNEaFEII81I2bfqOkHnGwxy28</string>
	<key>GCM_SENDER_ID</key>
	<string>644330002636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.certainity.simpleworld</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-f75ac</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-f75ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644330002636:ios:c32a41f21c93890e458a69</string>
</dict>
</plist>